@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--last-reas-title: clamp(25px, 10px + 2vw, 35px);
		--contrast: hsl(0deg 0% 0%);
		--background: hsl(0deg 0% 100%);
		--foreground: hsl(0deg 0% 20%);
		--bg-burgermenu: hsl(20deg 14.3% 4.1% / 40%);
		--card: hsl(0deg 0% 100%);
		--overlay: hsl(0deg, 0%, 100%, 40%);
		--card-foreground: hsl(20deg 14.3% 4.1%);
		--popover: hsl(0deg 0% 100%);
		--popover-foreground: hsl(20deg 14.3% 4.1%);
		// --primary: hsl(41.92deg 90% 50%);
		--primary: hsl(42 90% 40% / 1);
		--primary-foreground: hsl(26deg 83.3% 14.1%);
		--secondary: hsl(60deg 4.8% 95.9%);
		--secondary-foreground: hsl(24deg 9.8% 10%);
		--muted: hsl(60deg 4.8% 95.9%);
		--muted-foreground: hsl(25deg 5.3% 44.7%);
		--accent: hsl(60deg 4.8% 95.9%);
		--accent-foreground: hsl(24deg 9.8% 10%);
		--destructive: hsl(0deg 84.2% 60.2%);
		--destructive-foreground: hsl(60deg 9.1% 97.8%);
		--border: hsl(20deg 5.9% 90%);
		--input: hsl(20deg 5.9% 90%);
		--ring: hsl(20deg 14.3% 4.1%);
		--radius: 0.5rem;
	}

	.dark {
		--contrast: hsl(0deg 0% 100%);
		--background: hsl(20deg 14.3% 4.1%);
		// --foreground: hsl(0deg 0% 50%);
		--foreground: hsl(271.76deg 11.11% 70%);
		--bg-burgermenu: hsl(20deg 14.3% 4.1% / 40%);
		// --card: hsl(20deg 14.3% 4.1%);
		--card: hsl(216deg 19.08% 25.69%);
		--overlay: hsl(216deg, 19.08%, 25.69%, 70%);
		--card-foreground: hsl(60deg 9.1% 97.8%);
		--popover: hsl(20deg 14.3% 4.1%);
		--popover-foreground: hsl(60deg 9.1% 97.8%);
		--primary: hsl(47.9deg 95.8% 53.1%);
		--primary-foreground: hsl(26deg 83.3% 14.1%);
		--secondary: hsl(12deg 6.5% 15.1%);
		--secondary-foreground: hsl(60deg 9.1% 97.8%);
		--muted: hsl(12deg 6.5% 15.1%);
		--muted-foreground: hsl(24deg 5.4% 63.9%);
		--accent: hsl(12deg 6.5% 15.1%);
		--accent-foreground: hsl(60deg 9.1% 97.8%);
		--destructive: hsl(0deg 62.8% 30.6%);
		--destructive-foreground: hsl(60deg 9.1% 97.8%);
		--border: hsl(12deg 6.5% 15.1%);
		--input: hsl(12deg 6.5% 15.1%);
		--ring: hsl(35.5deg 91.7% 32.9%);
	}
}
* {
	@apply border-border;
}
body {
	@apply bg-background text-foreground font-text text-base;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
	font-size: 1.3rem;
	background: linear-gradient(to bottom, var(--secondary), black)
		var(--secondary);
	background-attachment: fixed;
	position: relative;
	isolation: isolate;
	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--background);
		opacity: 0.4;
		z-index: -2;
	}
}
h1,
.hero-title {
	position: relative;
	// margin: 0 auto;
	padding-block: 2rem;
	padding-left: 1rem;
	// text-transform: uppercase;
	font-family: var(--title-font);
	font-size: clamp(38px, 28px + 2vw, 50px);
	letter-spacing: 0.15rem;
	line-height: 1;
	display: inline-block;
	background: linear-gradient(
		to right,
		var(--primary),
		var(--contrast),
		var(--primary),
		var(--contrast),
		var(--primary),
		var(--contrast),
		var(--primary)
	);
	background-size: 300% 300%;
	background-clip: text;
	color: transparent;
	animation: gradient 6s linear infinite;

	&:before {
		content: "";
		position: absolute;
		bottom: 40px;
		left: 0;
		width: 10px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: var(--primary);
	}
}
.hero-title {
	font-size: clamp(50px, 20px + 5vw, 80px);
	padding: 0;
	&:before {
		content: none;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

/********************************************************
    BURGER BUTTON
********************************************************/

.header-burger {
	position: relative;
	height: 28px;
	width: 36px;
	cursor: pointer;
	border-radius: 50%;
	z-index: 9;

	.line-top,
	.line-middle,
	.line-bottom {
		position: absolute;
		display: block;
		height: 4px;
		width: 36px;
		border-radius: 2px;
		background: var(--primary);
	}

	.line-top {
		top: 0;
		transform-origin: 34px 2px;
	}

	.line-middle {
		top: 12px;
		transition: opacity 200ms linear;
	}

	.line-bottom {
		bottom: 0;
		transform-origin: 34px 2px;
	}

	&.open {
		.line-top {
			animation: line-top-out 600ms linear normal;
			animation-fill-mode: forwards;
		}
		.line-middle {
			opacity: 0;
		}
		.line-bottom {
			animation: line-bot-out 600ms linear normal;
			animation-fill-mode: forwards;
		}
	}

	&.close {
		.line-top {
			animation: line-top-in 600ms linear normal;
			animation-fill-mode: forwards;
		}
		.line-middle {
			transition-delay: 200ms;
		}
		.line-bottom {
			animation: line-bot-in 600ms linear normal;
			animation-fill-mode: forwards;
		}
	}
}
@keyframes line-top-in {
	0% {
		left: -5px;
		bot: 0;
		transform: rotate(-45deg);
	}
	20% {
		left: -5px;
		bot: 0;
		transform: rotate(-60deg);
	}
	80% {
		left: 0;
		bot: 0;
		transform: rotate(15deg);
	}
	100% {
		left: 0;
		bot: 1px;
		transform: rotate(0deg);
	}
}

@keyframes line-top-out {
	0% {
		left: 0;
		top: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		top: 0;
		transform: rotate(15deg);
	}
	80% {
		left: -5px;
		top: 0;
		transform: rotate(-60deg);
	}
	100% {
		left: -5px;
		top: 1px;
		transform: rotate(-45deg);
	}
}

@keyframes line-bot-in {
	0% {
		left: -5px;
		transform: rotate(45deg);
	}
	20% {
		left: -5px;
		bot: 0;
		transform: rotate(60deg);
	}
	80% {
		left: 0;
		bot: 0;
		transform: rotate(-15deg);
	}
	100% {
		left: 0;
		transform: rotate(0deg);
	}
}

@keyframes line-bot-out {
	0% {
		left: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		transform: rotate(-15deg);
	}
	80% {
		left: -5px;
		transform: rotate(60deg);
	}
	100% {
		left: -5px;
		transform: rotate(45deg);
	}
}

/*MENU CONTENT*/
.burger-menu-wrapper {
	height: 100vh;
	// background-color: var(--overlay);
	border-left: 1px solid rgba(white, 0.1);
	min-width: 300px;
	position: fixed;
	right: 0;
	top: 0;
	color: white;
	z-index: 3;
	&:before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--bg-burgermenu);
		backdrop-filter: blur(4px);
		z-index: -1;
	}
	.burger-menu-content {
		box-sizing: border-box;
		height: 100%;
		padding: 5vw 17vw 10vw 12vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.burger-menu-nav {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin-top: 80px;

			.burger-menu-header {
				color: rgb(153, 153, 153);
				border-bottom: 1px solid rgb(153, 153, 153);
				text-transform: uppercase;
				font-size: 13px;
				margin-bottom: 40px;
				p {
					margin-bottom: 5px;
				}
			}

			.navlink:before {
				bottom: 17px;
				left: -15px;
			}

			.link {
				position: relative;
				display: flex;
				align-items: center;
				font-size: clamp(27px, 10px + 3vw, 40px);
				margin-block: 2rem;

				// .indicator {
				//     width: 10px;
				//     height: 10px;
				//     background-color: white;
				//     border-radius: 50%;
				//     position: absolute;
				//     left: -20px;
				// }
			}

			a {
				text-decoration: none;
				color: var(--contrast);
				font-weight: 300;
			}
		}
	}
}
.svg-curve {
	position: absolute;
	top: 0;
	left: -99px;
	width: 100px;
	height: 100%;
	fill: var(--bg-burgermenu);
	stroke: none;
}
