@use "sass:map";
@tailwind base;
@tailwind components;
@tailwind utilities;

$breakpoints: (
	xs: 400px,
	s: 550px,
	mobile: 768px,
	tablet: 1024px,
);

@mixin mq($key) {
	$size: map.get($breakpoints, $key);
	@media (max-width: $size) {
		@content;
	}
}

@layer base {
	:root {
		--last-reas-title: clamp(25px, 10px + 2vw, 35px);
		--contrast: hsl(0deg 0% 0%);
		--background: hsl(0deg 0% 100%);
		--foreground: hsl(0deg 0% 20%);
		--bg-burgermenu: hsl(20deg 14.3% 4.1% / 50%);
		--card: hsl(0deg 0% 100%);
		--overlay: hsl(0deg, 0%, 100%, 40%);
		--card-foreground: hsl(20deg 14.3% 4.1%);
		--popover: hsl(0deg 0% 100%);
		--popover-foreground: hsl(20deg 14.3% 4.1%);
		// --primary: hsl(42 90% 40% / 1);
		--primary: hsl(192 100% 30%);
		--primary-foreground: hsl(26deg 83.3% 14.1%);
		--secondary: hsl(60deg 4.8% 95.9%);
		--secondary-foreground: hsl(24deg 9.8% 10%);
		--muted: hsl(60deg 4.8% 95.9%);
		--muted-foreground: hsl(25deg 5.3% 44.7%);
		--accent: hsl(60deg 4.8% 95.9%);
		--accent-foreground: hsl(24deg 9.8% 10%);
		--destructive: hsl(0deg 84.2% 60.2%);
		--destructive-foreground: hsl(60deg 9.1% 97.8%);
		--border: hsl(20deg 5.9% 90%);
		--input: hsl(20deg 5.9% 90%);
		--ring: hsl(20deg 14.3% 4.1%);
		--radius: 0.5rem;
	}

	.dark {
		--contrast: hsl(0deg 0% 100%);
		--background: hsl(20deg 14.3% 4.1%);
		// --foreground: hsl(0deg 0% 50%);
		--foreground: hsl(271.76deg 11.11% 70%);
		--bg-burgermenu: hsl(20deg 14.3% 4.1% / 50%);
		// --card: hsl(20deg 14.3% 4.1%);
		--card: hsl(216deg 19.08% 25.69%);
		--overlay: hsl(216deg, 19.08%, 25.69%, 70%);
		--card-foreground: hsl(60deg 9.1% 97.8%);
		--popover: hsl(20deg 14.3% 4.1%);
		--popover-foreground: hsl(60deg 9.1% 97.8%);
		// --primary: hsl(47.9deg 95.8% 53.1%);
		--primary: hsl(41.92deg 89.8% 50%);
		--primary-foreground: hsl(26deg 83.3% 14.1%);
		--secondary: hsl(12deg 6.5% 15.1%);
		--secondary-foreground: hsl(60deg 9.1% 97.8%);
		--muted: hsl(12deg 6.5% 15.1%);
		--muted-foreground: hsl(24deg 5.4% 63.9%);
		--accent: hsl(12deg 6.5% 15.1%);
		--accent-foreground: hsl(60deg 9.1% 97.8%);
		--destructive: hsl(0deg 62.8% 30.6%);
		--destructive-foreground: hsl(60deg 9.1% 97.8%);
		--border: hsl(12deg 6.5% 15.1%);
		--input: hsl(12deg 6.5% 15.1%);
		--ring: hsl(35.5deg 91.7% 32.9%);
	}
}
* {
	@apply border-border;
}
@import "../styles/header";
@import "../styles/grid-reas";
@import "../styles/custom-btn";
@import "../styles/form";

body {
	@apply bg-background text-foreground font-text text-base;
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
	min-height: 100dvh;
	font-size: 1.3rem;
	text-wrap: pretty;
	// background: linear-gradient(to bottom, var(--secondary), black)
	// 	var(--secondary);
	// background-attachment: fixed;
	// position: relative;
	// isolation: isolate;
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	inset: 0;
	// 	background-color: var(--background);
	// 	opacity: 0.4;
	// 	z-index: -2;
	// }
	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--background);
		opacity: 0.4;
		z-index: -1;
	}
}

h1,
.hero-title,
.title-xl {
	position: relative;
	// margin: 0 auto;
	padding-block: 2rem;
	padding-left: 1rem;
	// text-transform: uppercase;
	font-family: var(--title-font);
	font-size: clamp(38px, 28px + 2vw, 50px);
	letter-spacing: 0.15rem;
	line-height: 1;
	display: inline-block;
	background: linear-gradient(
		to right,
		var(--primary),
		var(--contrast),
		var(--primary),
		var(--contrast),
		var(--primary),
		var(--contrast),
		var(--primary)
	);
	background-size: 300% 300%;
	background-clip: text;
	color: transparent;
	animation: gradient 6s linear infinite;

	&:before {
		content: "";
		position: absolute;
		bottom: 40px;
		left: 0;
		width: 10px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: var(--primary);
	}
}
p {
	margin-bottom: 0.75rem;

	a {
		color: var(--contrast);
		&:hover {
			color: var(--primary);
		}
	}
}
.yellow-border {
	@apply relative pl-8 before:content-[""] before:absolute before:w-[2px] before:h-full before:left-0 before:rounded-3xl before:bg-primary;
}
.hero {
	min-height: calc(100vh - 64px);
	min-height: calc(100dvh - 64px);
	min-height: calc(100svh - 64px);
}
.hero-title {
	font-size: clamp(50px, 20px + 5vw, 80px);
	padding: 0;
	&:before {
		content: none;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.text-content {
	h2 {
		font-size: clamp(30px, 25px + 2vw, 40px);
		font-family: var(--title-font);
		color: var(--primary);
		margin-top: 2rem;
		margin-bottom: 1rem;
		line-height: 1;
	}
	strong {
		font-weight: 900;
	}
	a {
		color: var(--contrast);
		text-decoration: underline;
		&:hover {
			color: var(--primary);
		}
	}
}
.blog-post {
	@media (width > 767px) {
		column-count: 2;
		column-gap: 2rem;
	}
}

.box {
	width: 500px;
	aspect-ratio: 1;
	background-color: limegreen;
}
.counters {
	// &-wrapper {
	// 	display: grid;
	// 	grid-template-columns: repeat(4, 1fr);
	// 	gap: 2rem;
	// 	@include mq(mobile) {
	// 		grid-template-columns: repeat(2, 1fr);
	// 	}
	// }
	// &-item {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	text-align: center;
	// }
	&-number {
		margin-top: 1rem;
		min-height: 2rem;
		font-size: 3rem;
		color: white;
	}
	&-title {
		font-size: 1.2rem;
	}
	svg {
		fill: var(--primary);
		font-size: 3rem;
	}
}
